<div class="two fields">
  <div class="field">
    <label>First Name</label>
    <input placeholder="First Name" type="text" name="firstName">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input placeholder="Last Name" type="text" name="lastName">
  </div>
</div>
<div class="field">
  <label>Email</label>
  <input placeholder="Email" type="text" name="email">
</div>
<div class="field">
  <label>Password</label>
  <input type="password" name="password">
</div>
<button class="ui blue submit button">Submit</button>